body {
    color: blanchedalmond;
    background-color: tomato;
    width: 100%;
    text-align: center;
}
header {
    background-color: tomato;
    color: blanchedalmond;
    width: 100%;
    text-align: center;
}
